<div class="container">
  <h2>Eat-da-Burgers!</h2>

  <ul id="notEaten">
    {{#each burgers}}
      {{#unless devoured}}
        <li>
          {{burger_name}}
          <button class="change-devour" id="{{id}}" data-id="{{id}}" data-name="{{burger_name}}">
            Devour it!
          </button>
        </li>
      {{/unless}}
    {{/each}}
  </ul>

  <h2>Burgers that have been devoured!</h2>

  <ul id="devoured">
    {{#each burgers}}
      {{#if devoured}}
        <li>{{burger_name}}</li>
      {{/if}}
    {{/each}}
  </ul>


  <form class="create-form">

    <div class="form-group">
      <label for="name">New burger Name:</label>
      <input type="text" id="name" name="name">
      <button type="submit" class="add">Add Burger</button>
    </div>

  </form>
</div>

